<%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>
<div class=" rounded-xl w-[80%] py-[10%] bg-blue-100 m-auto">

<h1 class=" text-center font-bold text-blue-600 border-double border-4 border-sky-500 rounded-xl w-[70%] bg-blue-100 m-auto"  >About this page</h1>

<p class=" text-blue-600  flex justify-center gap-x-5 mt-10 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi molestias, ratione atque aperiam nihil aut consequatur inventore sed iste doloribus repellendus tempora! Voluptatum placeat maxime mollitia, dignissimos similique perferendis consectetur.</p>

<p class="flex justify-center gap-x-5 mt-10 ">
    <a class=" hover:bg-blue-500 rounded text-white py-3 px-5 bg-blue-300 border-double border-4 border-sky-500"  href="/login">Continue Surfing</a>
</p>
</div>

    









<%- include('partials/footer')%>