<%- include('partials/header')%>
<!--  -->

<%- include('partials/nav')%>
<div class=" bg-cover h-screen" 
style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_eiYiqVn5rIWsqVIdaxcXjN9I2S2tn_bdKtWQKChLPg&s');" >

    <h1 class="bg-blue-200 w-[50%] rounded-xl p-3 m-auto text-center text-5xl font-bold text-blue-600 border-double border-4 border-sky-400">This is a password update Page
    </h1>

    <form action="/reset-password/<%= user._id%>" class=" mt-[5%] text-center" method="post">

        <input class="w-[40%] mb-10  border border-zinc-500 p-3 rounded-md text-xl bg-blue-100 border-sky-500	border-color: rgb(140 165 233);"  type="text" placeholder="enter oldpassword"
          name="oldpassword">
        <br>
        <input class="w-[40%] mb-10 border border-zinc-500 p-3 rounded-md text-xl bg-blue-100   border-color:bg-blue-300" type="password"
          placeholder="enter newpassword" name="newpassword">

        

        <button class="mt-5 text-center block w-[40%] m-auto hover:bg-blue-600 rounded text-white py-3 px-5 bg-blue-400"
       >Reset Password</button>
      

      </form>
      
    </p>
  </div>


</div>













<%- include("./partials/footer")%>